<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
{{- with .Values.logger }}
  <Properties>
    {{- if .logToFile }}
    <Property name="folder">{{ .logDir }}</Property>
    <Property name="fileName">application.log</Property>
    <Property name="fileNameTomcat">messages.log</Property>
    <Property name="fileNameHealth">health.log</Property>
    {{- end }}
    <Property name="defaultPattern">[%d %X{correlationId}] %p %c{1.} %m%n</Property>
    <Property name="healthPattern">[%d %X{correlationId}] %m%n</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d] [%X{correlationId}] %p %c{1.} %m%n"/>
    </Console>

    {{- if and .logToFile .rollingFileAppender }}
    <RollingFile name="Application" fileName="${folder}/${fileName}" filePattern="${folder}/${fileName}-%d{MM-dd-yyyy}.log">
      <PatternLayout>
        <Pattern>${defaultPattern}</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingFile>

    <RollingFile name="Tomcat" fileName="${folder}/${fileNameTomcat}" filePattern="${folder}/${fileNameTomcat}-%d{MM-dd-yyyy}.log">
      <PatternLayout>
        <Pattern>${defaultPattern}</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingFile>

    <RollingFile name="Health" fileName="${folder}/${fileNameHealth}" filePattern="${folder}/${fileNameHealth}-%d{MM-dd-yyyy}.log">
      <PatternLayout>
        <Pattern>${healthPattern}</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingFile>

    {{- else if .logToFile }}

    <File name="Application" fileName="${folder}/${fileName}">
      <PatternLayout>
        <Pattern>${defaultPattern}</Pattern>
      </PatternLayout>
    </File>
    
    <File name="Tomcat" fileName="${folder}/${fileNameTomcat}">
      <PatternLayout>
        <Pattern>${defaultPattern}</Pattern>
      </PatternLayout>
    </File>
    
    <File name="Health" fileName="${folder}/${fileNameHealth}">
      <PatternLayout>
        <Pattern>${healthPattern}</Pattern>
      </PatternLayout>
    </File>
    {{- end }}
</Appenders>

  <Loggers>
    <Logger name="hr.vestigo" level="DEBUG" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.apache" level="INFO" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Tomcat"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.hibernate" level="INFO" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.jboss.resteasy" level="INFO" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.jboss.weld" level="INFO" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.flywaydb" level="INFO" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.reflections" level="INFO" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.jnp" level="INFO" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.xnio" level="INFO" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework" level="INFO" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework.orm.jpa" level="DEBUG" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="io.swagger" level="INFO" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="io.undertow" level="INFO" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="springfox" level="INFO" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="de.codecentric" level="INFO" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="io.jaegertracing" level="ERROR" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework.boot.autoconfigure" level="ERROR" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.apache.kafka" level="INFO" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console"/>
    </Logger>
    {{- if .logToFile }}
    <Logger name="hr.vestigo.springtemplate.app.filter.AccessLogFilter" level="DEBUG" additivity="false">
      <AppenderRef ref="Health"/>
    </Logger>
    {{- end }}
    <Logger name="hr.vestigo.springtemplate.app.interceptors.CorrelationIdHttpInterceptor" level="DEBUG" additivity="false">
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
      <AppenderRef ref="Console" />
    </Logger>    

    <Root level="INFO">
      <AppenderRef ref="Console"/>
      {{- if .logToFile }}
      <AppenderRef ref="Application"/>
      {{- end }}
    </Root>
  </Loggers>
{{- end }}
</Configuration>
